In [733]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn import metrics
from sklearn.pipeline import Pipeline
from sklearn import feature_extraction, feature_selection
from sklearn import preprocessing
from sklearn import cross_validation
from sklearn.feature_extraction.text import TfidfVectorizer


from sklearn.pipeline import make_pipeline, make_union
from sklearn.preprocessing import Imputer, StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin

%matplotlib inline

In [3]:
%load_ext sql

/home/vagrant/.anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/vagrant/.anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

## Pre-Task: Describe the goals of your study

## Part 1: Aquire the Data

In [4]:
#psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student titanic
#password: gastudents

#### 1. Connect to the remote database

In [5]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic
SELECT table_name
FROM information_schema.tables
where table_catalog = 'titanic'
and table_schema = 'public'
ORDER BY table_name;

8 rows affected.

[(u'account',),
 (u'account_information',),
 (u'evictions_simple',),
 (u'howie',),
 (u'jacques',),
 (u'table1',),
 (u'train',),
 (u'user',)]

In [6]:
%%sql
select * from train limit 3

3 rows affected.

[(0L, 1L, 0L, 3L, u'Braund, Mr. Owen Harris', u'male', 22.0, 1L, 0L, u'A/5 21171', 7.25, None, u'S'),
 (1L, 2L, 1L, 1L, u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', u'female', 38.0, 1L, 0L, u'PC 17599', 71.2833, u'C85', u'C'),
 (2L, 3L, 1L, 3L, u'Heikkinen, Miss. Laina', u'female', 26.0, 0L, 0L, u'STON/O2. 3101282', 7.925, None, u'S')]

#### 2. Query the database and aggregate the data

In [7]:
df = %sql select * from train;
df = df.DataFrame()

891 rows affected.

In [8]:
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

#### 5. What are the risks and assumptions of our data?

## Part 2: Exploratory Data Analysis

#### 1. Describe the Data

In [598]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
index          891 non-null int64
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [713]:
class SeriesImputer(TransformerMixin):
    """ Impute missing values.
       Columns of dtype object are imputed with the most frequent value 
       in column.

       Columns of other types are imputed with mean of column.
    """
   # def __init__(self)
   
    def fit(self, X, y=None):
#value_counts().index[0]
        if len(X.mode()) != 0 :
            self.fill = (X.mode()[0] if X.dtype == np.dtype('O') else X.mean())
        else :
            self.fill = X[0]
       # print self.fill
        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [714]:
class OneHotEncoderPandasCategoricalSeries():
    def __init__(self, sparse=False, **kwargs):
      #  self = self.astype('category')
        self.ohe = preprocessing.OneHotEncoder(handle_unknown='ignore', sparse=sparse, **kwargs)

    def _X_for_onehotenc(self, X):
        #X = X.astype('category')
        return X.cat.codes.reshape(-1,1 )
        # return [[x] for x in X.cat.codes]
    
    def fit(self, X, y=None):    
      #  X = X.astype('category') ##
        self.categories = X.cat.categories
        self.ohe.fit(self._X_for_onehotenc(X))
        return self
        
        
    def transform(self, X, y=None):
   #     X = X.astype('category') ##
        if np.all(X.cat.categories != self.categories):
            X = pd.Categorical(X, categories=self.categories)
        return self.ohe.transform(self._X_for_onehotenc(X))

In [715]:
class CatOneColumn(BaseEstimator, TransformerMixin):
    def __init__(self, data_type='category'):
        self.data_type = data_type #= self.astype(data_type)

    def fit(self, X, y=None):        
        return self

    def transform(self, X, y=None):
        # return X.ix[:, self.column]
        return X.astype(self.data_type)

In [716]:
class SelectOneColumn(BaseEstimator, TransformerMixin):
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        # return X.ix[:, self.column]
        return X[self.column]

In [717]:
class GetVectorizeTransformer(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self = self
        
    def fit(self, X, *_):
        return self
    
    def transform(self, X, *_):
       # if isinstance(X, pd.Series):
        return feature_extraction.text.TfidfVectorizer().fit_transform(X)
       # else:
     #       raise TypeError("This transformer only works with Pandas Dataframes")

In [718]:
class DFback(BaseEstimator, TransformerMixin):
    def __init__(self):
        self = self

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        # return X.ix[:, self.column]
        return pd.DataFrame(X)

In [743]:
class UnionFeatures(BaseEstimator, TransformerMixin):
    def __init__(self):
        self = self

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        # return X.ix[:, self.column]
        return make_union(Age_pipe, Fare_pipe, 
                   Embarked_pipe, Sex_pipe, Pclass_pipe, SibSp_pipe, Parch_pipe, 
                   Name_pipe,Ticket_pipe, Cabin_pipe
                  )

In [719]:
#OneHotEncoderPandasCategoricalSeries() df['Sex']

In [720]:
Age_pipe = Pipeline([('Col_Age', SelectOneColumn('Age')), 
                      ('Fill_na_Age', SeriesImputer()),
                     ('DataFrame_Age',DFback()),
                      ('StandardScaler_Age', StandardScaler())])

In [721]:
Fare_pipe = Pipeline([('Col_Fare', SelectOneColumn('Fare')), 
                      ('Fill_na_Fare', SeriesImputer()),
                      ('DataFrame_Age',DFback()),
                      ('StandardScaler_Fare', StandardScaler())])

In [722]:
#testpipe = Pipeline([('test', CatOneColumn())])

In [723]:
Embarked_pipe = Pipeline([('Col_Embarked', SelectOneColumn('Embarked')), 
                          ('Fill_na_Embarked', SeriesImputer()),
                          ('Cat_Embarked', CatOneColumn()),
                        ('Dummy_Embarked', OneHotEncoderPandasCategoricalSeries())])
Sex_pipe = Pipeline([('Col_Sex', SelectOneColumn('Sex')), 
                      ('Fill_na_Sex', SeriesImputer()),
                      ('Cat_Sex', CatOneColumn()),
                      ('Dummy_Sex', OneHotEncoderPandasCategoricalSeries())])
Pclass_pipe = Pipeline([('Col_Pclass', SelectOneColumn('Pclass')), 
                        ('Fill_na_Pclass', SeriesImputer()),
                        ('Cat_Pclass', CatOneColumn()),
                      ('Dummy_Pclass', OneHotEncoderPandasCategoricalSeries())])
SibSp_pipe = Pipeline([('Col_SibSp', SelectOneColumn('SibSp')), 
                       ('Fill_na_SibSp', SeriesImputer()),
                       ('Cat_SibSp', CatOneColumn()),
                      ('Dummy_SibSp', OneHotEncoderPandasCategoricalSeries())])
Parch_pipe = Pipeline([('Col_Parch', SelectOneColumn('Parch')), 
                       ('Fill_na_Parch', SeriesImputer()),
                       ('Cat_Parch', CatOneColumn()),
                      ('Dummy_Parch', OneHotEncoderPandasCategoricalSeries())])

In [724]:
Name_pipe = Pipeline([('Col_Name', SelectOneColumn('Name')), 
                       ('Fill_na_Name', SeriesImputer()),
                      ('Vectorize_Name', TfidfVectorizer())])
Ticket_pipe = Pipeline([('Col_Ticket', SelectOneColumn('Ticket')), 
                       ('Fill_na_Ticket', SeriesImputer()),
                      ('Vectorize_Ticket', TfidfVectorizer())])
Cabin_pipe = Pipeline([('Col_Cabin', SelectOneColumn('Cabin')), 
                       ('Fill_na_Cabin', SeriesImputer()),
                      ('Vectorize_Cabin', TfidfVectorizer())])

In [725]:
union = make_union(Age_pipe, Fare_pipe, 
                   Embarked_pipe, Sex_pipe, Pclass_pipe, SibSp_pipe, Parch_pipe, 
                   Name_pipe,Ticket_pipe, Cabin_pipe
                  )

In [726]:
X = df #[list(set(df.columns)-set(['Cabin']))]
y = df[u'Survived']

In [727]:
#union.fit(X)

In [728]:
cv = cross_validation.KFold(len(y), n_folds=5, shuffle=True)

In [729]:
result = cross_validation.cross_val_score(LogisticRegression(), 
                                          X=union.fit_transform(X), y=y, cv=cv)

In [730]:
result

array([ 0.83798883,  0.84831461,  0.84831461,  0.83707865,  0.74719101])

In [731]:
result.mean()

0.82377754064402731

In [774]:
union_pipe = make_pipeline(union, feature_selection.RFECV(LogisticRegression()))

In [777]:
result = cross_validation.cross_val_score(LogisticRegression(), 
                                          X=union_pipe.fit(X,y).transform(X), y=y, cv=cv, n_jobs=-1)

In [778]:
result.mean()

0.83726068671144316

#### 2. Visualize the Data

## Part 3: Data Wrangling

#### 1. Create Dummy Variables for *Sex*

## Part 4: Logistic Regression and Model Validation

#### 1. Define the variables that we will use in our classification analysis

#### 2. Transform "Y" into a 1-Dimensional Array for SciKit-Learn

#### 3. Conduct the logistic regression

#### 4. Examine the coefficients to see our correlations

#### 6. Test the Model by introducing a *Test* or *Validaton* set

#### 7. Predict the class labels for the *Test* set

#### 8. Predict the class probabilities for the *Test* set

#### 9. Evaluate the *Test* set

#### 10. Cross validate the test set

#### 11. Check the Classification Report

#### 12. What do the classification metrics tell us?

#### 13. Check the Confusion Matrix

#### 14. What does the Confusion Matrix tell us?

#### 15. Plot the ROC curve

#### 16. What does the ROC curve tell us?

## Part 5: Gridsearch

#### 1. Use GridSearchCV with logistic regression to search for optimal parameters 

- Use the provided parameter grid. Feel free to add if you like (such as n_jobs).
- Use 5-fold cross-validation.

In [ ]:
logreg_parameters = {
    'penalty':['l1','l2'],
    'C':np.logspace(-5,1,50),
    'solver':['liblinear']
}

#### 2. Print out the best parameters and best score. Are they better than the vanilla logistic regression?

#### 3. Explain the difference between the difference between the L1 (Lasso) and L2 (Ridge) penalties on the model coefficients.

#### 4. What hypothetical situations are the Ridge and Lasso penalties useful?

#### 5. [BONUS] Explain how the regularization strength (C) modifies the regression loss function. Why do the Ridge and Lasso penalties have their respective effects on the coefficients?

#### 6.a. [BONUS] You decide that you want to minimize false positives. Use the predicted probabilities from the model to set your threshold for labeling the positive class to need at least 90% confidence. How and why does this affect your confusion matrix?

## Part 6: Gridsearch and kNN

#### 1. Perform Gridsearch for the same classification problem as above, but use KNeighborsClassifier as your estimator

At least have number of neighbors and weights in your parameters dictionary.

#### 2. Print the best parameters and score for the gridsearched kNN model. How does it compare to the logistic regression model?

#### 3. How does the number of neighbors affect the bias-variance tradeoff of your model?

#### [BONUS] Why?

#### 4. In what hypothetical scenario(s) might you prefer logistic regression over kNN, aside from model performance metrics?

#### 5. Fit a new kNN model with the optimal parameters found in gridsearch.

#### 6. Construct the confusion matrix for the optimal kNN model. Is it different from the logistic regression model? If so, how?

#### 7. [BONUS] Plot the ROC curves for the optimized logistic regression model and the optimized kNN model on the same plot.

## Part 7: [BONUS] Precision-recall

#### 1. Gridsearch the same parameters for logistic regression but change the scoring function to 'average_precision'

`'average_precision'` will optimize parameters for area under the precision-recall curve instead of for accuracy.

#### 2. Examine the best parameters and score. Are they different than the logistic regression gridsearch in part 5?

#### 3. Create the confusion matrix. Is it different than when you optimized for the accuracy? If so, why would this be?

#### 4. Plot the precision-recall curve. What does this tell us as opposed to the ROC curve?

[See the sklearn plotting example here.](http://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html)

## Part 8: [VERY BONUS] Decision trees, ensembles, bagging

#### 1. Gridsearch a decision tree classifier model on the data, searching for optimal depth. Create a new decision tree model with the optimal parameters.

#### 2. Compare the performace of the decision tree model to the logistic regression and kNN models.

#### 3. Plot all three optimized models' ROC curves on the same plot.

#### 4. Use sklearn's BaggingClassifier with the base estimator your optimized decision tree model. How does the performance compare to the single decision tree classifier?

#### 5. Gridsearch the optimal n_estimators, max_samples, and max_features for the bagging classifier.

#### 6. Create a bagging classifier model with the optimal parameters and compare it's performance to the other two models.