In [1]:
import numpy as np
import pandas as pd

In [2]:
students_presentations = {
    "Siddarth Anand" : 0.0,
    "Jamie Lee" : 0.0,
    "Jacky Yeung" : 0.0,
    "Bryant Lee" : 0.0,
    #"Alex Rebull" : 0.0,
    "Anthony Ng" : 0.0,
    "Terry Chan" : 0.0,
    "Alice Lam" : 0.0,
    "Jacques Oelofse" : 0.0,
    "Howard Ilderton" : 0.0,
    "Bo Ki Wong" : 0.0,
}

In [3]:
def draw_students(how_many, students, volunteers = None, absent_students = None):
    if volunteers is None:
        volunteers = []
    if absent_students is None:
        absent_students = []
    
    students_draw = {s:v for s,v in students.items() if s not in volunteers and s not in absent_students}
    
    n_presentations_plus_one = np.array(students_draw.values()) + 1
    invert_odd = (1.0 - n_presentations_plus_one / np.max(n_presentations_plus_one)) + 0.01
    pick_prob = invert_odd / np.sum(invert_odd)                                        
        
    pick = np.random.choice(students_draw.keys(), 
                            size=how_many - len(volunteers), 
                            replace=False, 
                            p=pick_prob)
    
    pick = list(set(pick) | set(volunteers))    
    np.random.shuffle(pick)
                                          
    new_students = {s:v+1 if s in pick else v for s,v in students.items()}    
    return pick, new_students

In [4]:
def adjust_given_up_student(students, pick, given_up_new_colunteers):

    for given_up, volunteer in given_up_new_colunteers.items():
        pick[pick.index(given_up)] = volunteer
        students[given_up] -= 1
        students[volunteer] += 1
    
    next_week_volunteer = given_up_new_colunteers.keys()
    
    return pick, students, next_week_volunteer

In [5]:
means = []
stds = []
for _1 in range(100):
    students_test = {
        '1': 0.0,
        '2': 0.0,
        '3': 0.0,
        '4': 0.0,
        '5': 0.0,
        '6': 0.0,    
        '7': 0.0,    
        '8': 0.0,    
        '9': 0.0,    
        'A': 0.0,    
        'B': 0.0,        
    }    
    for _ in range(6):
        pick, students_test = draw_students(6, students=students_test)
    
    s = np.array(students_test.values())
    means.append(s.mean())
    stds.append(s.std())
    # print "{} [{} - {}]".format(s.mean(), s.mean()-2*s.std(), s.mean()+2*s.std())

print "Means of means {} {} [{} - {}]".format(np.mean(means), np.mean(stds), np.mean(means)-2*np.mean(stds), np.mean(means)+2*np.mean(stds))

Means of means 3.27272727273 0.450498181863 [2.371730909 - 4.17372363645]

# Project 3 pick

Let's first set a seed

In [6]:
seed = 996411566
np.random.seed(seed)

In [7]:
pd.DataFrame(students_presentations.values(), index=students_presentations.keys(), columns=['Presentations'])

                 Presentations
Howard Ilderton            0.0
Siddarth Anand             0.0
Bryant Lee                 0.0
Jamie Lee                  0.0
Jacques Oelofse            0.0
Terry Chan                 0.0
Jacky Yeung                0.0
Bo Ki Wong                 0.0
Alice Lam                  0.0
Anthony Ng                 0.0

In [8]:
pick, students_presentations = draw_students(how_many=6, 
                                             students=students_presentations, 
                                             volunteers=["Jamie Lee","Howard Ilderton"])

In [9]:
pd.Series(pick)

0         Bo Ki Wong
1    Howard Ilderton
2          Jamie Lee
3          Alice Lam
4         Bryant Lee
5     Siddarth Anand
dtype: object

In [10]:
given_up_new_colunteers = {"Bo Ki Wong":"Jacques Oelofse"}
pick, students_presentations, next_week_volunteer = adjust_given_up_student(students=students_presentations, 
                                                                            pick=pick, 
                                                                            given_up_new_colunteers = given_up_new_colunteers)

In [11]:
pd.Series(pick)

0    Jacques Oelofse
1    Howard Ilderton
2          Jamie Lee
3          Alice Lam
4         Bryant Lee
5     Siddarth Anand
dtype: object

In [12]:
pd.DataFrame(students_presentations.values(), index=students_presentations.keys(), columns=['Presentations'])

                 Presentations
Alice Lam                  1.0
Terry Chan                 0.0
Bryant Lee                 1.0
Bo Ki Wong                 0.0
Anthony Ng                 0.0
Siddarth Anand             1.0
Jamie Lee                  1.0
Jacques Oelofse            1.0
Howard Ilderton            1.0
Jacky Yeung                0.0

### How do the presentation count looks right now?

In [13]:
# Adding Alex back (before we had absent students)
students_presentations["Alex Rebull"] = 0.0
pd.DataFrame(students_presentations.values(), index=students_presentations.keys(), columns=['Presentations'])

                 Presentations
Alice Lam                  1.0
Terry Chan                 0.0
Alex Rebull                0.0
Bryant Lee                 1.0
Bo Ki Wong                 0.0
Anthony Ng                 0.0
Siddarth Anand             1.0
Jamie Lee                  1.0
Jacques Oelofse            1.0
Howard Ilderton            1.0
Jacky Yeung                0.0

# Project 4 pick

Let's first set a seed

In [14]:
# seed = 1
# np.random.seed(seed)

volunteers = list(next_week_volunteer)

In [15]:
# pd.DataFrame(students_presentations.values(), index=students_presentations.keys(), columns=['Presentations'])

In [16]:
# pick, students_presentations = draw_students(how_many=6, 
#                                              students=students_presentations, 
#                                              volunteers=volunteers)

In [17]:
# pd.Series(pick)

In [18]:
# pd.DataFrame(students_presentations.values(), index=students_presentations.keys(), columns=['Presentations'])