# Local Postgresql Database Lab

In this lab we will practice adding and removing data from a local Postgresql database. We will:

- Walk through instructions on how to set up and configure a local postgresql server
- Create a database and a table using SQL and CRUD data in/from that table.
- Learn how to copy data from a CSV file into this local database
- Practice our SQL with a practice assignment.

## 1. Install PostgreSQL locally

You should have already taken care of this in the Installfest, but just in case, [here](http://www.postgresql.org/download/) are the instructions for the most common platforms.

## 2. Launch and connect to a local PostgreSQL server

Now that you've installed PostgreSQL locally, practice connecting with the following methods:
- Command-line (psql)
- Sqlalchemy + Pandas
- Ipython-notebook using the ipython-sql extension

**Check:** List the existing databases, there should be none, right?
> not true, there are some default databases from postgres

**Check:** If there are databases, check the tables' contents. Hint: information_schema.tables

In [1]:
!pip install psycopg2

Requirement already satisfied (use --upgrade to upgrade): psycopg2 in c:\users\user\anaconda2\lib\site-packages

In [2]:
%load_ext sql

C:\Users\user\Anaconda2\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
C:\Users\user\Anaconda2\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
%%sql 
postgresql://postgres:password@localhost:5432/

u'Connected: postgres@'

In [4]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://postgres:password@localhost:5432/')

In [5]:
pd.read_sql("select * from information_schema.tables limit 3;", engine)

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

## 3. Create DB
Once you are connected to your local Postgresql server, create a new database. Call it `lab33`.

Practice creating and deleting the database with the following methods:
- Command-line:
>     CREATE database lab33;
>     DROP database lab33;

- Sqlalchemy
- Ipython-notebook using the ipython-sql extension

In [31]:
%%sql 
postgresql://postgres:password@localhost:5432/lab33

u'Connected: postgres@lab33'

## 4. CRUD (Create, Read, Update, and Delete)

In lesson 1.1 you learned how to add and remove data from sqlite. Let's review that on our local PostgreSQL installation.

### 4.a: Creating Tables and Adding Columns

1. Create an table called `table1` with a single column `field1` containing an INTEGER PRIMARY KEY. Practice doing this with any of the methods above.
- Add a few more columns to `table1`:
    - field2 VARCHAR(16)
    - field3 REAL
    - field4 TEXT
check [the doc](http://www.postgresql.org/docs/9.3/static/datatype.html) for more info on data types supported by postgresql.
- Check tables and schemas using command line or postico

In [4]:
%%sql
CREATE TABLE table1 (field1 INTEGER PRIMARY KEY, field2 VARCHAR(16), field3 REAL, field4 TEXT);

Done.

[]

### 4.b: Add Data

Add some data to `table1`:

|field1|field2|field3|field4|
|----|
|1|'Henry James'|42|'75 Mission Street, San Francisco, CA'|
|2|'Carol James'|40|'75 Mission Street, San Francisco, CA'|
|3|'Jesse James'|12|'75 Mission Street, San Francisco, CA'|

In [38]:
%%sql
INSERT INTO table1 (field1, field2, field3, field4) VALUES (1,'Henry James',42,'75 Mission Street, San Francisco, CA')

1 rows affected.

[]

In [40]:
%%sql
INSERT INTO table1 (field1, field2, field3, field4) VALUES (2,'Carol James',40,'75 Mission Street, San Francisco, CA')

1 rows affected.

[]

In [41]:
%%sql
INSERT INTO table1 (field1, field2, field3, field4) VALUES (3,'Jesse James',12,'75 Mission Street, San Francisco, CA')

1 rows affected.

[]

### 4.c: Read Data
Read the content of the table,

In [42]:
%%sql
select * from table1

3 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 40.0, u'75 Mission Street, San Francisco, CA'),
 (3, u'Jesse James', 12.0, u'75 Mission Street, San Francisco, CA')]

### 4.d: Update Records
Suppose we need to update an existing record with new data - e.g. maybe `Jesse James` is only 9. Use the update command to do this.

In [43]:
%%sql
update table1 set field3=9 where field1=3

1 rows affected.

[]

### 4.e: Remove Records
To remove records use the DELETE command. Delete the entry for anyone matching `Jesse`.

In [44]:
%%sql
delete from table1 where field2 like '%Jesse%'

1 rows affected.

[]

## 5. Data from CSV

Copy CSV data from a local file into a local PostgreSQL database. We will use a [dataset](../../assets/datasets/Eviction_Notices.csv) pulled from the SF open data website. It contains a set of eviction notices issued in San Francisco.

Open the data in a text editor and have a look at it.

### 5.a: Simple Import

Read [this post](http://stackoverflow.com/questions/2987433/how-to-import-csv-file-data-into-a-postgresql-table) to learn how you can import data from CSV to PostgreSQL.

Notice that you have to decide the type for each column. Let's keep it simple and import everything as a string of text for now.

- Create a table called `evictions_simple` and import the data as varchar.
- Check that everything worked fine by loading a few lines from the table.
- Try some simple queries:
    - count how many evictions are due to non_payments
    - list the 3 most recent evictions


**Hint:** A good practice when you create a new table is to always drop it first, in case it already exists.

**Check:** Did you avoid importing the header as a record?

### 5.b: Data Cleaning and Import

If you've executed the last query correctly (most recent evictions), you'll have noticed that the dates are not correctly understood. This is because we were sloppy and imported the data as string for all fields.

Let's see what data types we would ideally like to have for each column.

[Here are data types](http://www.tutorialspoint.com/postgresql/postgresql_data_types.htm)

- Discuss in pairs each column and then let's summarize together. Which data type would you choose for each field?
- Repeat the import to a new table called `evictions`. Notice that line 31494 may throw an error. Why is that?
> There are two ` characters that do not belong.
- Repeat the query for the 3 most recent evictions. Does it work now?

## 6. Queries

Now that we have imported the data with correct data types, let's query the `evictions` table and find out a few things about SF and evictions.

Questions:
- How many neighborhoods are there in SF? List them alphabetically
- How many supervisor districts? 
- How many unique zip codes?
    - Are there any bad data in these? how many?
- What are the top 5 causes of eviction?

### 6.a: How many neighborhoods are there in SF? List them alphabetically.

### 6.b: How many supervisor districts?

### 6.c how many unique zip codes?

Are there any bad data in these?

### 6.d: What are the top 5 causes of eviction?

You may find it easier to answer this question using pandas.

## Bonus
- Let's count the number of evictions for each year
    - How has the number varied?
    - Can you compare this with the nasdaq index? (use the DataReader module in Pandas to get the data)