### Lists

Practice creating and operating on lists

##### L-1: make a list with these 5 friends

'Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dumb'

In [1]:
friends = ['Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dumb']
friends

['Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dumb']

##### L-2: print the 3rd item of the friends list

In [2]:
print friends[2]

Larry

##### L-3: print the 3rd thru 5th elements of the friends list

In [3]:
friends[2:5]

['Larry', 'Tweedle Dee', 'Tweedle Dumb']

##### L-4: add 'Samwise' to the end of the friends list using .append()

In [4]:
friends.append('Samwise')
# sam = ['Samwise']
# friends += sam
friends

['Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dumb', 'Samwise']

##### L-5: add the list ['Bob', 'Joe'] to the friends list

In [5]:
friends = friends + ['Bob', 'Joe']
friends

['Curly',
 'Moe',
 'Larry',
 'Tweedle Dee',
 'Tweedle Dumb',
 'Samwise',
 'Bob',
 'Joe']

##### L-6: remove 'Sam' from the list with the .remove() function

In [6]:
friends.remove('Samwise')
friends

['Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dumb', 'Bob', 'Joe']

##### L-7: remove the first element of friends using del

In [7]:
del friends[0]
friends

['Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dumb', 'Bob', 'Joe']

### Dictionaries

Create and operate on dictionaries

##### D-1: Create the HK district dictionary

With the following key:value pairs:

    'Central and Western':248600
    'Eastern':579400
    'Southern':270500
    'Wan Chai':150400
    'Sham Shui Po':388300
    'Kowloon City':402300
    'Kwun Tong':639900
    'Wong Tai Sin':424500
    'Yau Tsim Mong':313600
    'Kwai Tsing':501900
    'North':303300
    'Sai Kung':448600
    'Sha Tin':648200
    'Tai Po':302300
    'Tsuen Wan':301600
    'Tuen Mun':489000
    'Yuen Long':595100

In [8]:
population = {'Central and Western':248600,
             'Eastern':579400,
             'Southern':270500,
             'Wan Chai':150400,
             'Sham Shui Po':388300,
             'Kowloon City':402300,
             'Kwun Tong':639900,
             'Wong Tai Sin':424500,
             'Yau Tsim Mong':313600,
             'Kwai Tsing':501900,
             'North':303300,
             'Sai Kung':448600,
             'Sha Tin':648200,
             'Tai Po':302300,
             'Tsuen Wan':301600,
             'Tuen Mun':489000,
             'Yuen Long':595100,    
            }
population

{'Central and Western': 248600,
 'Eastern': 579400,
 'Kowloon City': 402300,
 'Kwai Tsing': 501900,
 'Kwun Tong': 639900,
 'North': 303300,
 'Sai Kung': 448600,
 'Sha Tin': 648200,
 'Sham Shui Po': 388300,
 'Southern': 270500,
 'Tai Po': 302300,
 'Tsuen Wan': 301600,
 'Tuen Mun': 489000,
 'Wan Chai': 150400,
 'Wong Tai Sin': 424500,
 'Yau Tsim Mong': 313600,
 'Yuen Long': 595100}

##### D-2: access the population for Kowloon City and assign it to a variable

In [9]:
kowloon_city = population['Kowloon City']
kowloon_city

402300

##### D-3: print out a list of the keys in population using .keys()

In [10]:
population.keys()

['North',
 'Eastern',
 'Sha Tin',
 'Sham Shui Po',
 'Sai Kung',
 'Kwai Tsing',
 'Southern',
 'Yuen Long',
 'Wan Chai',
 'Tai Po',
 'Yau Tsim Mong',
 'Tsuen Wan',
 'Kowloon City',
 'Tuen Mun',
 'Central and Western',
 'Kwun Tong',
 'Wong Tai Sin']

##### D-4: print out a list of the key:value pairs in population using .items()

In [11]:
population.items()

[('North', 303300),
 ('Eastern', 579400),
 ('Sha Tin', 648200),
 ('Sham Shui Po', 388300),
 ('Sai Kung', 448600),
 ('Kwai Tsing', 501900),
 ('Southern', 270500),
 ('Yuen Long', 595100),
 ('Wan Chai', 150400),
 ('Tai Po', 302300),
 ('Yau Tsim Mong', 313600),
 ('Tsuen Wan', 301600),
 ('Kowloon City', 402300),
 ('Tuen Mun', 489000),
 ('Central and Western', 248600),
 ('Kwun Tong', 639900),
 ('Wong Tai Sin', 424500)]

##### D-5: add 'Islands':144500 to the population dictionary

In [12]:
population['Islands'] = 144500
population

{'Central and Western': 248600,
 'Eastern': 579400,
 'Islands': 144500,
 'Kowloon City': 402300,
 'Kwai Tsing': 501900,
 'Kwun Tong': 639900,
 'North': 303300,
 'Sai Kung': 448600,
 'Sha Tin': 648200,
 'Sham Shui Po': 388300,
 'Southern': 270500,
 'Tai Po': 302300,
 'Tsuen Wan': 301600,
 'Tuen Mun': 489000,
 'Wan Chai': 150400,
 'Wong Tai Sin': 424500,
 'Yau Tsim Mong': 313600,
 'Yuen Long': 595100}

##### D-6: remove the North population with .pop() and assign it to a variable

In [13]:
north = population.pop('North')

# or do this
# north = population['North']
# del population['North']

print north
population

303300

{'Central and Western': 248600,
 'Eastern': 579400,
 'Islands': 144500,
 'Kowloon City': 402300,
 'Kwai Tsing': 501900,
 'Kwun Tong': 639900,
 'Sai Kung': 448600,
 'Sha Tin': 648200,
 'Sham Shui Po': 388300,
 'Southern': 270500,
 'Tai Po': 302300,
 'Tsuen Wan': 301600,
 'Tuen Mun': 489000,
 'Wan Chai': 150400,
 'Wong Tai Sin': 424500,
 'Yau Tsim Mong': 313600,
 'Yuen Long': 595100}