# Times University ranking dataset analysis

In this codealong we are going to analyze a ranking of universities using regression. Specifically, we are going to **predict the university ranking** with the provided predictors.

---

The information provided in the csv contains:

- **world_rank** - world rank for the university. Contains rank ranges and equal ranks (eg. =94 and 201-250).
- **university_name** - name of university.
- **country** - country of each university.
- **teaching** - university score for teaching (the learning environment).
- **international** - university score international outlook (staff, students, research).
- **research** - university score for research (volume, income and reputation).
- **citations** - university score for citations (research influence).
- **income** - university score for industry income (knowledge transfer).
- **total_score** - total score for university, used to determine rank.
- **num_students** - number of students at the university.
- **student_staff_ratio** - Number of students divided by number of staff.
- **international_students** - Percentage of students who are international.
- **female_male_ratio** - Female student to Male student ratio.
- **year** - year of the ranking (2011 to 2016 included).

We are going to predict the **total score**, which directly corresponds to the ranking.

---

### ONLY THE DATA PATH IS PROVIDED!

The analysis is up to you. This is an open ended practice. You are expected to:

- Load the packages you need to do analysis
- Perform EDA on variables of interest
- Form a hypothesis or hypotheses on what is important for the score
- Check your data for problems, clean and munge data into correct formats
- Create new variables from columns if necessary
- Perform statistical analysis with regression and describe the results

---

If you do not know how to do something **check documentation first.** I look up things in documentation all the time. 

**You are not expected to know how to do things by heart. Knowing how to effectively look up the answers on the internet is a critical skill for data scientists!**

In [63]:
uni_data_path = './dataset/timesData.csv'

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [65]:
unidata = pd.read_csv(uni_data_path)

In [66]:
unidata.head(1)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011

In [67]:
unidata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
world_rank                2603 non-null object
university_name           2603 non-null object
country                   2603 non-null object
teaching                  2603 non-null float64
international             2603 non-null object
research                  2603 non-null float64
citations                 2603 non-null float64
income                    2603 non-null object
total_score               2603 non-null object
num_students              2544 non-null object
student_staff_ratio       2544 non-null float64
international_students    2536 non-null object
female_male_ratio         2370 non-null object
year                      2603 non-null int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB

In [68]:
unidata_clean = unidata.copy()

In [69]:
unidata_clean.head(1)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011

In [70]:
unidata_clean['num_students'] = unidata_clean['num_students'].str.replace(',','')

In [71]:
unidata_clean[unidata_clean['num_students'].isnull()==False]['num_students'].astype(float).mean()

23873.758647798742

In [78]:
unidata_clean.ix[unidata_clean['num_students'].isnull(),['num_students']] = unidata_clean[unidata_clean['num_students'].isnull()==False]['num_students'].astype(float).mean()

In [102]:
unidata_clean['num_students'] = unidata_clean['num_students'].astype(float)

In [104]:
unidata_clean['num_students'].describe()

count      2603.000000
mean      23873.758648
std       17474.397944
min         462.000000
25%       12800.000000
50%       21394.000000
75%       29787.000000
max      379231.000000
Name: num_students, dtype: float64

In [106]:
unidata_clean['total_score'] = pd.to_numeric(unidata_clean['total_score'].str.replace('-',''), errors='coerce')

In [107]:
unidata_clean['total_score'].describe()

/home/vagrant/.anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    1201.000000
mean       59.846128
std        12.803446
min        41.400000
25%              NaN
50%              NaN
75%              NaN
max        96.100000
Name: total_score, dtype: float64

In [108]:
unidata_clean['total_score'].isnull().sum()

1402

In [73]:
unidata_clean['international'] = pd.to_numeric(unidata_clean['international'], errors='coerce')

In [74]:
unidata_clean['international'].dtype

dtype('float64')

In [75]:
unidata_clean.ix[unidata_clean['international'].isnull(),['international']] = unidata_clean[unidata_clean['international'].isnull()==False]['international'].mean()

In [80]:
unidata_clean['student_staff_ratio'] = pd.to_numeric(unidata_clean['student_staff_ratio'], errors='coerce')

In [81]:
unidata_clean.ix[unidata_clean['student_staff_ratio'].isnull(),['student_staff_ratio']] = unidata_clean[unidata_clean['student_staff_ratio'].isnull()==False]['student_staff_ratio'].mean()

In [84]:
unidata_clean['international_students'] = unidata_clean['international_students'].str.replace('%','')

In [85]:
unidata_clean['international_students'] = pd.to_numeric(unidata_clean['international_students'], errors='coerce')

In [86]:
unidata_clean.ix[unidata_clean['international_students'].isnull(),['international_students']] = unidata_clean[unidata_clean['international_students'].isnull()==False]['international_students'].mean()

In [142]:
unidata_clean['income'] = pd.to_numeric(unidata_clean['income'], errors='coerce')

In [143]:
unidata_clean.ix[unidata_clean['income'].isnull(),['income']] = unidata_clean[unidata_clean['income'].isnull()==False]['income'].mean()

In [92]:
unidata_clean['female_ratio'] = unidata_clean['female_ratio'].str.split(':', expand=True)[0]

In [95]:
unidata_clean['female_ratio'] = pd.to_numeric(unidata_clean['female_ratio'], errors='coerce')

In [96]:
unidata_clean.ix[unidata_clean['female_ratio'].isnull(),['female_ratio']] = unidata_clean[unidata_clean['female_ratio'].isnull()==False]['female_ratio'].mean()

In [97]:
unidata_clean

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,female_ratio
0,1,Harvard University,United States of America,99.7,72.40000,98.7,98.8,34.5,96.1,20152,8.9,25.0,NaN,2011,49.683988
1,2,California Institute of Technology,United States of America,97.7,54.60000,98.0,99.9,83.7,96.0,2243,6.9,27.0,33 : 67,2011,33.000000
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.30000,91.4,99.9,87.5,95.6,11074,9.0,33.0,37 : 63,2011,37.000000
3,4,Stanford University,United States of America,98.3,29.50000,98.1,99.2,64.3,94.3,15596,7.8,22.0,42 : 58,2011,42.000000
4,5,Princeton University,United States of America,90.9,70.30000,95.4,99.9,-,94.2,7929,8.4,27.0,45 : 55,2011,45.000000
5,6,University of Cambridge,United Kingdom,90.5,77.70000,94.1,94.0,57.0,91.2,18812,11.8,34.0,46 : 54,2011,46.000000
6,6,University of Oxford,United Kingdom,88.2,77.20000,93.9,95.1,73.5,91.2,19919,11.6,34.0,46 : 54,2011,46.000000
7,8,"University of California, Berkeley",United States of America,84.2,39.60000,99.3,97.8,-,91.1,36186,16.4,15.0,50 : 50,2011,50.000000
8,9,Imperial College London,United Kingdom,89.2,90.00000,94.5,88.3,92.9,90.6,15060,11.7,51.0,37 : 63,2011,37.000000
9,10,Yale University,United States of America,92.1,59.20000,89.7,91.5,-,89.5,11751,4.4,20.0,50 : 50,2011,50.000000
10,11,"University of California, Los Angeles",United States of America,83.0,48.10000,92.9,93.2,-,87.7,38206,10.3,15.0,52 : 48,2011,52.000000
11,12,University of Chicago,United States of America,79.1,62.80000,87.9,96.9,-,86.9,14221,6.9,21.0,42 : 58,2011,42.000000
12,13,Johns Hopkins University,United States of America,80.9,58.50000,89.2,92.3,100.0,86.4,15128,3.6,23.0,50 : 50,2011,50.000000
13,14,Cornell University,United States of America,82.2,62.40000,88.8,88.1,34.7,83.9,21424,10.2,19.0,48 : 52,2011,48.000000
14,15,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,77.5,93.70000,87.8,83.1,-,83.4,18178,14.7,37.0,31 : 69,2011,31.000000
15,15,University of Michigan,United States of America,83.9,53.30000,89.1,84.1,59.6,83.4,41786,9.0,16.0,48 : 52,2011,48.000000
16,17,University of Toronto,Canada,75.8,52.00744,87.9,82.2,-,82.0,66198,19.5,15.0,NaN,2011,49.683988
17,18,Columbia University,United States of America,73.8,90.90000,73.8,92.6,-,81.0,25055,5.9,28.0,NaN,2011,49.683988
18,19,University of Pennsylvania,United States of America,71.8,32.90000,82.7,93.6,43.7,79.5,20376,6.5,20.0,51 : 49,2011,51.000000
19,20,Carnegie Mellon University,United States of America,70.3,39.10000,79.3,95.7,53.7,79.3,11885,13.1,35.0,39 : 61,2011,39.000000
20,21,University of Hong Kong,Hong Kong,68.4,91.40000,71.4,96.1,56.5,79.2,19835,17.6,38.0,53 : 47,2011,53.000000
21,22,University College London,United Kingdom,74.0,90.80000,81.6,80.6,39.0,78.4,26607,10.7,46.0,56 : 44,2011,56.000000
22,23,University of Washington,United States of America,68.2,49.00000,77.1,95.9,32.8,78.0,44020,11.8,13.0,53 : 47,2011,53.000000
23,24,Duke University,United States of America,66.8,49.40000,71.5,92.3,100.0,76.5,15172,4.8,17.0,49 : 51,2011,49.000000
24,25,Northwestern University,United States of America,64.5,60.50000,68.8,95.3,-,75.9,18334,13.8,15.0,48 : 52,2011,48.000000
25,26,University of Tokyo,Japan,87.7,18.40000,91.9,58.1,-,75.6,26199,5.7,10.0,NaN,2011,49.683988
26,27,Georgia Institute of Technology,United States of America,67.9,73.20000,72.6,83.2,95.1,75.3,19967,20.1,26.0,31 : 69,2011,31.000000
27,28,Pohang University of Science and Technology,South Korea,69.5,32.60000,62.5,96.5,100.0,75.1,3055,10.1,4.0,20 : 80,2011,20.000000
28,29,"University of California, Santa Barbara",United States of America,56.6,64.30000,68.0,98.8,89.8,75.0,22020,27.3,11.0,52 : 48,2011,52.000000
29,30,University of British Columbia,Canada,65.1,93.30000,74.8,80.3,42.6,73.8,50152,17.6,25.0,54 : 46,2011,54.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573,601-800,University of Tehran,Iran,26.1,16.50000,16.9,15.8,-,-,53802,27.0,1.0,45 : 55,2016,45.000000
2574,601-800,University of Texas at El Paso,United States of America,18.6,30.40000,18.7,18.4,-,-,19123,29.0,7.0,54 : 46,2016,54.000000
2575,601-800,Texas Tech University,United States of America,27.9,36.80000,17.2,22.0,-,-,29512,20.9,7.0,46 : 54,2016,46.000000
2576,601-800,Tokai University,Japan,17.9,19.30000,7.6,15.3,34.4,-,29700,12.7,1.0,27 : 73,2016,27.000000
2577,601-800,Tokushima University,Japan,25.3,16.80000,21.6,12.8,59.6,-,7519,8.9,3.0,34 : 66,2016,34.000000
2578,601-800,Tokyo University of Marine Science and Technology,Japan,27.9,24.50000,12.4,7.7,57.9,-,2597,11.1,7.0,34 : 66,2016,34.000000
2579,601-800,Tokyo University of Science,Japan,23.0,15.40000,24.1,21.4,37.6,-,20243,25.7,2.0,20 : 80,2016,20.000000
2580,601-800,Tomsk State University,Russian Federation,34.8,36.90000,20.8,7.6,44.0,-,10413,9.9,12.0,60 : 40,2016,60.000000
2581,601-800,Tottori University,Japan,24.3,16.70000,10.1,9.6,34.5,-,6248,8.2,2.0,34 : 66,2016,34.000000
2582,601-800,Toyohashi University of Technology,Japan,22.0,25.40000,18.9,15.8,50.3,-,2153,9.3,9.0,9 : 91,2016,9.000000
2583,601-800,Universiti Kebangsaan Malaysia,Malaysia,24.3,29.70000,15.9,10.9,28.4,-,24227,11.8,12.0,62 : 38,2016,62.000000
2584,601-800,Universiti Putra Malaysia,Malaysia,25.3,50.10000,20.9,10.2,34.2,-,23883,12.2,16.0,63 : 37,2016,63.000000
2585,601-800,Universiti Sains Malaysia,Malaysia,26.9,44.20000,16.6,12.4,34.4,-,28179,14.8,10.0,61 : 39,2016,61.000000
2586,601-800,Universiti Teknologi MARA,Malaysia,15.2,14.80000,7.7,18.2,28.3,-,69268,16.8,0.0,65 : 35,2016,65.000000
2587,601-800,Ural Federal University,Russian Federation,24.8,17.30000,10.6,16.8,35.6,-,28427,10.1,3.0,48 : 52,2016,48.000000
2588,601-800,V.N. Karazin Kharkiv National University,Ukraine,21.7,48.40000,8.9,1.7,28.8,-,14410,9.7,22.0,53 : 47,2016,53.000000
2589,601-800,University of Vigo,Spain,18.4,30.70000,10.5,31.8,38.1,-,22793,19.0,3.0,51 : 49,2016,51.000000
2590,601-800,Vilnius University,Lithuania,18.3,40.80000,13.6,26.1,41.0,-,19019,14.2,4.0,65 : 35,2016,65.000000
2591,601-800,Warsaw University of Technology,Poland,19.4,20.70000,8.5,40.3,47.4,-,34572,14.5,3.0,34 : 66,2016,34.000000
2592,601-800,Waseda University,Japan,23.6,29.70000,14.6,29.4,32.4,-,52316,16.9,8.0,35 : 65,2016,35.000000
2593,601-800,University of West Bohemia,Czech Republic,16.3,23.10000,9.7,29.8,32.1,-,15639,21.5,2.0,52 : 48,2016,52.000000
2594,601-800,University of the West of England,United Kingdom,16.9,48.50000,11.2,34.6,28.5,-,22525,21.4,15.0,53 : 47,2016,53.000000
2595,601-800,West University of Timişoara,Romania,16.1,21.00000,3.9,22.4,-,-,12933,19.0,3.0,62 : 38,2016,62.000000
2596,601-800,University of Westminster,United Kingdom,17.3,81.90000,11.7,21.1,28.5,-,16609,21.0,43.0,57 : 43,2016,57.000000
2597,601-800,Xidian University,China,17.9,12.80000,12.1,8.9,83.7,-,31618,16.4,2.0,29 : 71,2016,29.000000
2598,601-800,Yeungnam University,South Korea,18.6,24.30000,10.9,26.5,35.4,-,21958,15.3,3.0,48 : 52,2016,48.000000
2599,601-800,Yıldız Technical University,Turkey,14.5,14.90000,7.6,19.3,44.0,-,31268,28.7,2.0,36 : 64,2016,36.000000
2600,601-800,Yokohama City University,Japan,24.0,16.10000,10.2,36.4,37.9,-,4122,3.7,3.0,NaN,2016,49.683988
2601,601-800,Yokohama National University,Japan,20.1,23.30000,16.0,13.5,40.4,-,10117,12.1,8.0,28 : 72,2016,28.000000
2602,601-800,Yuan Ze University,Taiwan,16.2,17.70000,18.3,28.6,39.8,-,8663,20.6,4.0,43 : 57,2016,43.000000

In [6]:
unidata.columns

Index([u'world_rank', u'university_name', u'country', u'teaching',
       u'international', u'research', u'citations', u'income', u'total_score',
       u'num_students', u'student_staff_ratio', u'international_students',
       u'female_male_ratio', u'year'],
      dtype='object')

In [144]:
df = unidata_clean[[u'country', u'teaching',
       u'international', u'research', u'citations', u'income',
       u'num_students', u'student_staff_ratio', u'international_students',
       u'female_ratio', u'year','total_score']]

In [145]:
df = df[unidata_clean['total_score'].isnull()==False]

In [146]:
y = df.pop('total_score')

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 2002
Data columns (total 11 columns):
country                   1201 non-null object
teaching                  1201 non-null float64
international             1201 non-null float64
research                  1201 non-null float64
citations                 1201 non-null float64
income                    1201 non-null float64
num_students              1201 non-null float64
student_staff_ratio       1201 non-null float64
international_students    1201 non-null float64
female_ratio              1201 non-null float64
year                      1201 non-null int64
dtypes: float64(9), int64(1), object(1)
memory usage: 112.6+ KB

In [132]:
unidata_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 15 columns):
world_rank                2603 non-null object
university_name           2603 non-null object
country                   2603 non-null object
teaching                  2603 non-null float64
international             2603 non-null float64
research                  2603 non-null float64
citations                 2603 non-null float64
income                    2603 non-null object
total_score               1201 non-null float64
num_students              2603 non-null float64
student_staff_ratio       2603 non-null float64
international_students    2603 non-null float64
female_male_ratio         2370 non-null object
year                      2603 non-null int64
female_ratio              2603 non-null float64
dtypes: float64(9), int64(1), object(5)
memory usage: 305.1+ KB

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 2002
Data columns (total 11 columns):
country                   1201 non-null object
teaching                  1201 non-null float64
international             1201 non-null float64
research                  1201 non-null float64
citations                 1201 non-null float64
income                    1201 non-null object
num_students              1201 non-null float64
student_staff_ratio       1201 non-null float64
international_students    1201 non-null float64
female_ratio              1201 non-null float64
year                      1201 non-null int64
dtypes: float64(8), int64(1), object(2)
memory usage: 112.6+ KB

In [148]:
df = pd.get_dummies(df)

In [149]:
from sklearn.cross_validation import cross_val_score, cross_val_predict, KFold
from sklearn import metrics
from scipy import stats
import seaborn as sns
from sklearn import datasets, linear_model
from sklearn.cross_validation import train_test_split
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn import pipeline

In [150]:
lm = linear_model.RidgeCV()
predictions = cross_val_predict(lm, df, y, cv=10)

In [151]:
predictions

array([ 95.44091064,  94.9201837 ,  95.02993748, ...,  48.93865854,
        48.75010224,  48.28356098])

In [152]:
np.mean(cross_val_score(lm, df, y, cv=10))

0.99765291857862426

In [153]:
lm = linear_model.RidgeCV().fit(df,y)
zip(df.columns, lm.coef_)

[('teaching', 0.29690793399211302),
 ('international', 0.068747555292635099),
 ('research', 0.3053766792044561),
 ('citations', 0.30664403728056716),
 ('income', 0.02457936206248057),
 ('num_students', 7.0931491791270673e-08),
 ('student_staff_ratio', -0.0020757597961837959),
 ('international_students', 0.00086847818844582036),
 ('female_ratio', -0.0010976853179011925),
 ('year', -0.079129648515955844),
 ('country_Australia', 0.015189370481969409),
 ('country_Austria', -0.0061022186275555314),
 ('country_Belgium', 0.0079700372638402822),
 ('country_Brazil', -0.018917869639111115),
 ('country_Canada', 0.03208915028178333),
 ('country_China', 0.041921432610408919),
 ('country_Denmark', 0.012634309448465275),
 ('country_Egypt', 0.12741296115610881),
 ('country_Finland', -0.013021711092216712),
 ('country_France', 0.013014029557070678),
 ('country_Germany', -0.022775726907027158),
 ('country_Hong Kong', -0.0036283159395645928),
 ('country_Israel', -0.0026096279374199782),
 ('country_Italy', -0.010789583945763001),
 ('country_Japan', -0.072286693998505541),
 ('country_Luxembourg', 0.027062957949373485),
 ('country_Netherlands', -0.046244089658404722),
 ('country_New Zealand', 0.030540812945894034),
 ('country_Norway', 0.013921358017052594),
 ('country_Republic of Ireland', 0.024154633577301313),
 ('country_Russian Federation', 0.062886223403366914),
 ('country_Singapore', -0.027552753070050895),
 ('country_South Africa', 0.0022318960427676737),
 ('country_South Korea', -0.064367615981692827),
 ('country_Spain', 0.07397055134297699),
 ('country_Sweden', -0.060558825913228059),
 ('country_Switzerland', 0.029096644434603424),
 ('country_Taiwan', -0.014850767339974313),
 ('country_Turkey', 0.026395353128493733),
 ('country_United Kingdom', -0.028855856878980402),
 ('country_United States of America', -0.14793006471198333)]