# APIs and SQL Joins Lab

The city of San Francisco wants to assess the quality of restaurants in the city. Their data is scattered across multiple sources and incomplete.

They tasked you to help them assess it.

They would like to know what the most common violations are where they happen most frequently.

## 1. Initial data inspection

To answer the question we will need to retrieve and merge data from multiple files.

Yelp provides data on food quality, that can be found at [this address](http://www.yelp.com/healthscores/feeds). We already downloaded 4 files that you can find in the [assets folder](../../assets/datasets/yelp/).

In the bonus part we will also use the Google Geocoding API and data on [Neighborhoods](https://www.google.com/fusiontables/DataSource?docid=1zNwsvTwj-dH0QxuuDrKFsyfNklajd7WwEyaZ2U9M#rows:id=1).

1. Open each of the files and inspect them visually
- What information do they contain?

In [1]:
!ls ../../assets/datasets/yelp

'ls' is not recognized as an internal or external command,
operable program or batch file.

## 2. Local database

The first step in our analysis is to import the data into a local PostgreSQL database.

1. Connect to a local Postgres database and import the files to separate tables.

**Hint:** The files are probably not encoded in utf8 and this could create a problem when importing the data into postgres. You can read more about encodings here: http://www.postgresql.org/docs/current/interactive/multibyte.html

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [59]:
engine = create_engine('postgresql://postgres:password@localhost:5432/inspections')
session = sessionmaker(bind=engine)()
session.connection().connection.set_isolation_level(0)
#session.execute('CREATE DATABASE inspections')

In [60]:
def load_to_sql(name):
    df = pd.read_csv('../../assets/datasets/yelp/{}.csv'.format(name), encoding='latin1')
    df.to_sql(name, engine, flavor='postgres', if_exists='replace')
    print "done", name

In [61]:
load_to_sql('businesses')
load_to_sql('inspections')
load_to_sql('legend')
load_to_sql('violations')

done businesses
done inspections
done legend
done violations

In [62]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [63]:
%sql postgresql://postgres:password@localhost:5432/inspections

u'Connected: postgres@inspections'

In [64]:
%%sql
select * from inspections limit 2;

2 rows affected.

[(0L, 10L, 94L, 20140729L, u'routine'), (1L, 10L, 92L, 20140114L, u'routine')]

In [3]:
%load_ext sql

C:\Users\user\Anaconda2\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
C:\Users\user\Anaconda2\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [4]:
%%sql 
postgresql://postgres:password@localhost:5432/

u'Connected: postgres@'

In [5]:
%%sql
SELECT * FROM information_schema.tables;

174 rows affected.

[(u'postgres', u'public', u'table1', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statistic', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_type', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_authid', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shadow', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_group', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_user', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_policies', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_settings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_rules', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_file_settings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_views', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_matviews', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stats', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_locks', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_cursors', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_available_extensions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_available_extension_versions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_prepared_xacts', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_prepared_statements', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_seclabels', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_timezone_abbrevs', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_timezone_names', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_all_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_sys_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_user_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_all_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_sys_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_user_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_all_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_sys_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_user_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_activity', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_replication', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_ssl', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_replication_slots', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_database', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_user_mapping', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_bgwriter', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_replication_origin_status', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_user_mappings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_largeobject', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_attribute', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_proc', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_class', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_attrdef', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_constraint', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_inherits', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_index', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_operator', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_opfamily', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_opclass', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_am', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_amop', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_amproc', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_language', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_largeobject_metadata', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_aggregate', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_rewrite', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_trigger', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_event_trigger', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_description', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_cast', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_enum', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_namespace', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_conversion', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'attributes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'character_sets', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'check_constraint_routine_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_depend', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_db_role_setting', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_tablespace', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_pltemplate', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_auth_members', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shdepend', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shdescription', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_config', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_config_map', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_dict', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_parser', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_template', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_extension', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_foreign_data_wrapper', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_foreign_server', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_foreign_table', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_policy', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_replication_origin', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_default_acl', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_seclabel', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shseclabel', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_collation', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_range', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_transform', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_database_conflicts', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_user_functions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_user_functions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_archiver', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_database', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'information_schema_catalog_name', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'applicable_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'administrable_role_authorizations', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'check_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'collations', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'collation_character_set_applicability', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_domain_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_udt_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'constraint_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'constraint_table_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'domain_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'domain_udt_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'domains', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'enabled_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'key_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'parameters', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'referential_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_column_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'routine_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_routine_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'routines', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'schemata', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'sql_features', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_implementation_info', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_languages', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_packages', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_parts', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_sizing', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_sizing_profiles', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'table_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'table_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_table_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'transforms', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'triggered_update_columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'triggers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'udt_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_udt_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'usage_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_usage_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'user_defined_types', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'view_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'view_routine_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'view_table_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'views', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'data_type_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'element_types', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_table_columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_data_wrappers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_data_wrapper_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_data_wrappers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_servers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_server_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_servers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_table_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_user_mappings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),

In [41]:
%%sql
create database inspections

InternalError: (psycopg2.InternalError) CREATE DATABASE cannot run inside a transaction block
 [SQL: 'create database inspections']

In [42]:
from sqlalchemy import create_engine

In [50]:
from sqlalchemy.orm import sessionmaker

In [44]:
%%sql 
postgresql://postgre:password@localhost:5432/inspections

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgre"

In [51]:
connect_param = 'postgresql://postgres:password@localhost:5432/inspections'


engine = create_engine(connect_param)
session = sessionmaker(bind=engine)()
session.connection().connection.set_isolation_level(0)

In [52]:
def load_to_sql(name):
    df = pd.read_csv('../../assets/datasets/yelp/{}.csv'.format(name), encoding='latin1')
    df.to_sql(name, engine, flavor='postgres', if_exists='replace')
    print "done", name

In [53]:
load_to_sql('businesses')

done businesses

In [20]:
load_to_sql('inspections')
load_to_sql('legend')
load_to_sql('violations')

done inspections
done legend
done violations

In [9]:
pwd

u'C:\\Users\\user\\DataBox\\DSI_JY\\DSI-projects\\classes\\week-06\\2.2-lab\\code\\starter-code'

In [54]:
%%sql
select * from businesses limit 3;

(psycopg2.ProgrammingError) relation "businesses" does not exist
LINE 1: select * from businesses limit 3;
                      ^
 [SQL: 'select * from businesses limit 3;']

In [23]:
%%sql
SELECT table_schema,table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;

1 rows affected.

[(u'public', u'table1')]

### 2.b Display the first few lines of each table

In [ ]:
%load_ext sql

## 2.b Investigate violations

Let's focus on the violations table initially.


Answer these questions using sql:
1. How many violations are there?
- How many businesses committing violations?
- What's the average number of violations per business?

Answer these questions using python
1. Draw a plot of the violations count
- Is the average number of violations meaningful?
- Draw a plot of the normalized cumulative violation counts. Can we discard the restaurants with few violations?
- Where would you draw a threshold if you were to keep 90% of the violations?

### 2.c Investigate Inspections

In the previous step we looked at violations count. However we also have an inspection score available in the inspections table. Let's have a look at that too.

Answer these questions using SQL:
1. What's the average score for the whole city?
1. What's the average score per business?
- Does the score correlate with the number of inspections?
- Create a dataframe from a table with the following columns:
    business_id, average_score, number_of_inspections, number_of_violations
- Use pandas to do a scatter matrix plot of average_score, number_of_inspections, number_of_violations to check for correlations

## 3 Zipcode analysis

The town administration would like to know which zip code are the ones where they should focus the inspections.

Use the information contained in the `businesses` table as well as the previous tables to answer the following questions using SQL:

1. Count the number of businesses per zipcode and sort them by descending order
- Which are the top 5 zipcodes with the worst average score?
    - restrict your analysis to the zipcodes with at least 50 businesses
    - do a simple average of the inspections scores in the postal code
- Which are the top 5 zipcodes with the highest number of violations per restaurant?
    - restrict your  analysis to the zipcodes with at least 50 businesses

## Final recommendation
Give a final recommendation on which 2 zipcodes should the administration focus and choose an appropriate plot to convince them visually.

## Bonus: Neighborhood data

Instead of looking at zipcodes we may be interested in using Neighborhood names.

It's beyond the scope of this lab to do a proper introduction to Geocoding and Reverse Geocoding, but we will give some pointers for further exploration.

### 1. Google Geocoding API
Have a look at:
- https://developers.google.com/maps/documentation/geocoding/intro
- https://maps.googleapis.com/maps/api/geocode/json?address=
- https://maps.googleapis.com/maps/api/geocode/json?latlng=

Through this API you can retrieve an address or a neighborhood from a lat-lon pair (reverse geocoding), or you can retrieve lat long and other information from an address (geocoding).

1. Try experimenting with and retrieving a few addresses
- Note that google imposes limits on the number of free queries
- How many missing lat-lon pairs do we have?

### Bonus 2
The pycurl library seems to be faster than requests in getting information from the google api.

1. See if you can extract the neighborhood from an address using the geocode api and a bit of json parsing
- Note that you would surely hit the daily limit if you pulled each address' neighborhood from the api

### Bonus 3
We can find the neighborhood using the polygons associated to each of them.
[Here](https://www.google.com/fusiontables/DataSource?docid=1zNwsvTwj-dH0QxuuDrKFsyfNklajd7WwEyaZ2U9M#rows:id=1) you can find these polygons (and we also copied them [locally](../../assets/datasets/sfneighborhoods.csv).

[This article](http://streamhacker.com/2010/03/23/python-point-in-polygon-shapely/) describes how to use the shapely package to check if a point belongs to a polygon.

- See if you can build a function that retrieves the neighborhood for a given address using the polygon data

### Further exploration

Postgres is actually GIS enabled, so we could do location based queries directly in the database.

Have a look at http://postgis.refractions.net/ for more information.