Use the Titanic dataset and evaluate if KNN produces a good classifier for this dataset

In [37]:
import pandas as pd
import numpy as np
from sklearn import neighbors
from sklearn import cross_validation
from sklearn import metrics

In [38]:
# Load data
df = pd.read_csv("../../assets/data/titanic.csv", index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
# Keep only the features that matter (that makes sense predicting on)

del df['Ticket']
del df['Name']
del df['Cabin']

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.6+ KB

In [41]:
# Get it ready for classification (dummies + nan)

# df.dropna(inplace=True)
# df.info()

df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Embarked'].fillna('Unknown', inplace=True)
df = pd.get_dummies(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 12 columns):
Survived            891 non-null int64
Pclass              891 non-null int64
Age                 891 non-null float64
SibSp               891 non-null int64
Parch               891 non-null int64
Fare                891 non-null float64
Sex_female          891 non-null float64
Sex_male            891 non-null float64
Embarked_C          891 non-null float64
Embarked_Q          891 non-null float64
Embarked_S          891 non-null float64
Embarked_Unknown    891 non-null float64
dtypes: float64(8), int64(4)
memory usage: 90.5 KB

In [62]:
# get X and y

y = df["Survived"]
X = df[[col for col in df.columns if (col not in ['Survived', "Fare"]) and (not col.startswith("Embarked"))]]

In [63]:
# Cross validate knn with 10 fold cross validation

scores = cross_validation.cross_val_score(neighbors.KNeighborsClassifier(10),
                                          X=X, y=y,
                                          cv=10)
print scores
print np.mean(scores)

[ 0.75555556  0.83333333  0.75280899  0.88764045  0.83146067  0.76404494
  0.79775281  0.78651685  0.85393258  0.80681818]
0.806986437408

In [64]:
y_pred = cross_validation.cross_val_predict(neighbors.KNeighborsClassifier(4),
                                            X=X, y=y,
                                            cv=10)
metrics.accuracy_score(y_true=y, y_pred=y_pred)

0.80134680134680136